<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-name>ScheduleServlet</servlet-name>
        <servlet-name>GanntServlet</servlet-name>
        <servlet-name>RergisterOrganizationServlet</servlet-name>
        <servlet-name>OrganizationListServlet</servlet-name>
        <servlet-name>AvailabilityServlet</servlet-name>
        <servlet-name>JoinOrganizationServlet</servlet-name>
        <servlet-name>joinConfirmationServlet</servlet-name>
        <servlet-name>AccountServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>servlets.TaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleServlet</servlet-name>
        <servlet-class>servlets.ScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GanntServlet</servlet-name>
        <servlet-class>servlets.GanntServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RergisterOrganizationServlet</servlet-name>
        <servlet-class>servlets.RergisterOrganizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizationListServlet</servlet-name>
        <servlet-class>servlets.OrganizationListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizationServlet</servlet-name>
        <servlet-class>servlets.OrganizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailabilityServlet</servlet-name>
        <servlet-class>servlets.AvailabilityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinOrganizationServlet</servlet-name>
        <servlet-class>servlets.JoinOrganizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>servlets.AccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleServlet</servlet-name>
        <url-pattern>/schedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GanntServlet</servlet-name>
        <url-pattern>/gannt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizationListServlet</servlet-name>
        <url-pattern>/organizationList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizationServlet</servlet-name>
        <url-pattern>/organization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailabilityServlet</servlet-name>
        <url-pattern>/availability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RergisterOrganizationServlet</servlet-name>
        <url-pattern>/registerOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinOrganizationServlet</servlet-name>
        <url-pattern>/joinOrganization</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
</web-app>
