body {
    background-color: white;
    height: 100vh;
}

* {
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}
header {
    overflow-y:hidden;
    height: 50px;
    width: 100%;
    box-shadow: 0px 5px 5px lightblue;
    position: relative;
    align-items:center;
}

.searchHeader{
    background-color: inherit;
    left: 40px;
}
teamLogo {
    text-align: center;
    padding: 15px;
    color: white;
    background-color: blue;
    width: 180px;
    height: 50px;
    position: fixed;
}

.sideBar {
    background-color: lightgrey;
    display: flex;
    width: 180px;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    align-items:center;
    justify-content:center;

}

button{
    background-color: inherit;
    padding: 10px;
    display: inline-block;
    margin: auto;  

}


button:hover{
    background:#525252;

}


.homeButton{
    top: 70px;

    border:none;
    position: fixed;
    cursor: pointer;
    width: 180px;
    margin: auto;  


}
.form{
    top: 150px;
    border:none;
    position: fixed;
    cursor: pointer;
    width: 180px;
    margin: auto;  
}

.nav-tabs .nav-item .nav-link {
    background-color: white;
    color: #424949;
    border: 1px solid #F2F3F4;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #F2F3F4;
    color: #424949;
    border: 1px solid #F2F3F4;

}

.tab-content {
    border: 1px #F2F3F4;

    padding: 15px;
    background-color: #F2F3F4;
    border-radius: 0px 0px 7px 7px;

}

a {
    text-decoration: none;
}