<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="HelixSchedulingPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <non-jta-data-source>java:/comp/env/jdbc/helixschedulingdb</non-jta-data-source>
    <class>model.User</class>
    <class>model.Organization</class>
    <class>model.Department</class>
    <class>model.Availability</class>
    <class>model.OrganizationUser</class>
    <class>model.ShiftSwapBoard</class>
    <class>model.Schedule</class>
    <class>model.Shift</class>
    <class>model.Unavailable</class>
    <class>model.Notification</class>
    <class>model.Request</class>
    <class>model.OrganizationUserSchedule</class>
    <class>model.OrganizationRequest</class>
    <class>model.OrganizationUserRequest</class>
    <class>model.AvailabilityChangeRequest</class>
    <class>model.TimeOffRequest</class>
    <class>model.ShiftSwapRequest</class>
    <class>model.Task</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
  </persistence-unit>
</persistence>
